@import "../../../styles.scss";

.topnav {
    height: 55px;
    position: relative;
    background-color: mat-color($my-theme-primary);
    color: mat-color($my-theme-primary, '500-contrast');
    z-index: 4;
}

.horizontal-spacer {
    flex: 1 1 auto;
}
